:root{
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
   --cor-da-caixa: #FFFFFF;
   --cor-da-fonte:#464646;
   --cor-de-fundo-azul:#EAF2FD;
   --cor-azul: #2A7AE4;
   --cor-aviso: #df2525;
   --cor--placeholder: #A2A2A2;
   --form-borda: #C8C8C8;
   --tipo-da-fonte:'Raleway',sans-serif;
   
}
body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: var(--tipo-da-fonte);
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}







