/*section contato*/
.contato{
    margin-left: -20%;
    margin-right: -20%;
    width: auto;
    color: var(--cor-da-fonte);
    background: var(--cor-de-fundo-azul);
    padding: 50px;
    box-sizing: border-box;
    
}
.contato__titulo{
    color: var(--cor-da-fonte);
    text-align: center;
    margin-top: 50px;
    margin-left: 100px;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    
}
.contato__conteudo{
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    justify-content: space-evenly;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
}
.contato__formulario{
    /*margin-left: 20px;*/
    width: 45%;
    
}
.contato__form__campos{
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    
}
.form__input,
.form__textarea,
.form__botao{
    margin-top: 40px;
    padding: 15px;
    resize: none;
    border: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px var(--form-borda) solid;
    outline: none;
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
}
.form__input:focus {
    border-bottom: 2px var(--cor-azul) solid;
}
#nome:focus~.form__label--nome,
#nome:not(:focus):valid~.form__label--nome,

#email:focus~.form__label--email,
#email:not(:focus):valid~.form__label--email,

#assunto:focus~.form__label--assunto,
#assunto:not(:focus):valid~.form__label--assunto{
    font-size: 12px;
    color: var(--cor-azul);
}

.label__flutuante{
    position: relative;
    /*bottom: 3.2rem;*/
    bottom: 50px;
    left: 15px;
    pointer-events: none;
    font-size: 1rem;
    font-weight: 400;
    transition: 0.2s ease all;
    color: var(--cor--placeholder);
}
.form__botao{
    width: 165px;
    height: 51px;
    font-size: 16px;
    background-color: var(--cor-azul);
    color: var(--cor-de-fundo);
    border: none;
    transition: 0.5s;
}
.form__botao:hover{
    width: 175px;
    height: 58px;
    cursor: pointer;

}