.contato{
    display: flex;
    flex-direction: column;
    background: var(--cor-de-fundo-azul);
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 100vw;
}
.contato__titulo{
    color: var(--cor-da-fonte);
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1.6rem;
    padding-left: 5%;
}
.contato__conteudo{
    padding-left: 5%;
    padding-right: 5%;
}
.contato__imagem{
    display: none;
}
.contato__formulario{
    color: var(--cor-da-fonte);
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.1rem;
    padding-top: 0.8rem;
    
}
.contato__form__campos{
    padding-top: 1rem;
   
  }
.contato__input__container{
    position: relative;
    width: 350px;
    height: 80px;
    
}
.form__input{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    box-sizing: border-box;
    padding-top: 1.5rem;
    border: none;
    border-radius: 4px;
    width: 350px;
}
.form__textarea{
    border: none;
    border-radius: 4px;
    outline: none;
    resize: none;
    height: 133px;
    width: 350px;
}
#nome:focus~.form__label--nome,
#nome:not(:focus):valid~.form__label--nome,

#email:focus~.form__label--email,
#email:not(:focus):valid~.form__label--email,

#assunto:focus~.form__label--assunto,
#assunto:not(:focus):valid~.form__label--assunto{
    font-size: 0.7rem;
    color: var(--cor-azul);
}
.label__flutuante{
    position: relative;
    bottom: 3rem;
    margin-right: 50%;
    pointer-events: none;
    font-size: 0.9rem;
    font-weight: 400;
    transition: 0.2s ease all;
    color: var(--cor--placeholder);
}
.input-mensagem-erro{
    position: absolute;
    margin-left: -200px;
    color: var(--cor-aviso);
    
}
.form__botao{
    display: block;
    font-size: 0.8rem;
    background-color: var(--cor-azul);
    color: var(--cor-de-fundo);
    border: none;
    margin-top: 1rem;
    padding: 0.5rem;
    box-sizing: border-box;
    width: 151px;
    height: 40px;
}
@media screen and (min-width:768px){
    .form__input{
        width: 704px;
        height: 56px;
        margin-bottom: 0.3rem;
        
    }
    .form__textarea{
        width: 704px;
        margin-top: 0.5rem;
    }
    .form__botao{
        width: 151px;
        height: 40px;
        font-size: 0.9rem;
    }
}
@media screen and (min-width: 1024px){
    .contato__titulo{
        font-size: 2rem;
        line-height: 2.5rem;
        text-align: center;
    }
    .contato__conteudo{
        display: flex;
        justify-content: center;
    }
    .contato__imagem{
        display: block;
        padding: 1rem;
    }
    .form__input{
        width: 550px;
        height: 56px;
    }
    .form__textarea{
        width: 550px;
    }
    .form__botao{
        
        width: 165px;
        height: 51px;
        font-size: 1rem;
    }
    

}