.menu{
    padding-left: 5%;
    padding-right: 5%;
}
.menu__cabecalho{
    color: var(--cor-da-fonte);
    background-color: var(--cor-de-fundo);
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.menu__imagem{
    width: 1rem;
    height: 1rem;
    padding-left: 2rem;
    
}
.menu__nome{
    font-weight: 700;
    font-size: 1rem;
    padding: 0.75rem;
    
}
.menu__nav .mobile{
    display:none;
}
.menu__item{
    font-weight: 400;
    font-size: 0.87rem;
    padding: 0.75rem;
    
}
@media screen and(min-width:768px)  {
    
}
@media screen and (min-width: 1024px){
    .menu__nav .mobile{
        display:inline;
    }
    .menu__item{
        display:inline;
        font-size: 1rem;
    }
}