.titulo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5%;
    padding-right: 5%;
}
.titulo__img{
    width: 98px;
    height: 98px;
    padding: 1rem;
}
.titulo__apresentacao{
    color: var(--cor-da-fonte);
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1.6rem;
}
.titulo__descricao{
    color: var(--cor-da-fonte);
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
.titulo__lista{
    color: var(--cor-da-fonte);
    font-weight: 600;
    font-size: 0.9rem;
    line-height: 1rem;
    display: flex;
}
.titulo__rede:last-child{
    padding-left: 1rem;
}
@media screen and (min-width: 1024px){
    .titulo{
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-around;
    }
    .titulo__img{
        width: 368px;
        height: 368px;
    }
    .titulo__apresentacao{
        font-size: 3rem;
        line-height: 4rem;
        
    }
    .titulo__descricao{
        font-size: 1.3rem;
        line-height: 2rem;
    }
}